# dependencies
node_modules

# testing
/coverage

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*

# application
/data/
/snapshots/
/*.db
/*.db.gz
/*.db-*
node-crawler-backend
node-crawler-backend.exe
node.key
nodes
nodetable
public/*_templ.go

# nix
result
